{% extends "uaUCRuaProject2Bundle::ua_base_admin.html.twig"%} 
{%block menuAdmin%}{%endblock%}
{%block banner%}{%endblock%}
{%block rightBar%}{%endblock%}

{%block content%}
<h1>Success</h1>
<h2>The operation was performed correctly</h2>
<br><br>
<a href="{{path('ua_ucr_ua_project2_index_admin')}}"<h3>Go to principal page</h3></a>
{%endblock%}