{% extends "uaUCRuaProject2Bundle::ua_base.html.twig"%} 
{%block slider%}{%endblock%}
{%block header_bottom_left%}{%endblock%}

{%block content%}

<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>{{result}}<br><br></h3>
            
        </div>


    </div>
    <div class="section group">
        <h1>The operation was performed successfully</h1>
        <br><br>
        <a href="{{path('ua_uc_rua_project2_homepage')}}"<h3>Go to principal page</h3></a>


    </div>




{%endblock%}