{% extends "uaUCRuaProject2Bundle::ua_base.html.twig"%} 
{%block slider%}{%endblock%}
{%block header_bottom_left%}{%endblock%}

{%block content%}
    <div class="content">
    	<div class="section group">
				<div class="col_1_of_3 span_1_of_3">
					<h3>Who We Are</h3>
					<p>Blockbuster and formerly Blockbuster Video Entertainment, 
                                            Inc.was an American-based provider 
                                            of home movie and video game rental services 
                                            through video rental shops, DVD-by-mail, streaming,
                                            video on demand, and cinema theater.At its peak in 2004, 
                                            Blockbuster consisted of nearly 60,000 employees and over 9,000 stores.</div>
				<div class="col_1_of_3 span_1_of_3">
					<h3>Our History</h3>
				 <div class="history-desc">
					<div class="year"><p>1985–1987</p></div>
					<p class="history">
                                        The first Blockbuster store opened October 19, 1985, in Dallas, Texas.
                                        The founder of the company was David Cook, who grew the business and 
                                        brought it public.The innovation was derived from Cook's experience
                                        with managing huge databases.After the first few stores opened, 
                                        Cook built a $6 million warehouse in Garland, Texas, that could pull 
                                        and package multiple stores in a day.[clarification needed] Key to 
                                        the early success of Blockbuster was their ability to customize a 
                                        store to its neighborhood, loading it up with films geared specifically 
                                        to demographic profiles in addition to the popular new releases, and 
                                        a sizable catalog of titles.
                                        </p>
                                  <div class="year"><p>1987</p></div>
					<p class="history">
                                        In 1987, the company won a court case against Nintendo of America,
                                        Inc, which paved the way for the rental of video games.

                                        Scott Beck of Dallas approached John Melk, prior executive with 
                                        Waste Management, about buying a franchise. Melk brought the idea 
                                        to his friend and business associate, Wayne Huizenga, who agreed 
                                        to buy the company after overcoming initial concerns about the video industry.
                                        Huizenga and Melk used similar techniques in growing Waste Management, and soon,
                                        they were opening a store every 24 hours.They also bought every Blockbuster 
                                        franchise they could acquire. Huizenga spent the late 1980s acquiring several of
                                        Blockbuster's rivals, including Major Video.

                                        </p>
                                      
				
			</div>
    	<div>
    </div>
 </div>
</div>
</div>
{%endblock%}

