{% extends "uaUCRuaProject2Bundle::ua_base.html.twig"%} 
{%block slider%}{%endblock%}
{%block header_bottom_left%}{%endblock%}

{%block content%}
<div class="content">
    <div class="support">
        <div class="support_desc">
            <h3>Blockbuster Customer Care</h3>

            <p>Blockbuster LLC,
                PO Box 9040
                Littleton, CO 80120</p>

            <h3>Press Contact Information</h3>

            <p>Blockbuster L.L.C. Media Relations Department
                9601 S. Meridian Blvd.
                Englewood CO 80112
                Phone: 303-723-1000
                Email: press@blockbuster.com</p>

            <h3>Blockbuster On Demand</h3>

            <p>For issues related to Blockbuster On Demand
                Email:support@blockbusternow.com</p>
        </div>
        <img src="images/contact.png" alt="" />
        <div class="clear"></div>
    </div>
</div>


{%endblock%}