{# empty Twig template #}
{% extends "uaUCRuaProject2Bundle::ua_base2.html.twig"%}
{%block slider%}{%endblock%}
{%block header_bottom_left%}{%endblock%}

{%block content%}

<div class="content" >
   
        <h1>Error</h1>
        <h2>{{error}}</h2>
   
        <div class="currency">
            <a href="{{path('ua_uc_rua_project2_show_login_form')}}"><div class="search"><div><button class="grey">Back</button></div></div></a>
        </div>
        <br><br><br><br>
</div>
{%endblock%}