{% extends "uaUCRuaProject2Bundle::ua_base.html.twig"%} 
{%block slider%}{%endblock%}
{%block header_bottom_left%}{%endblock%}

{%block content%}
<div class="content">
        <h2>Frequently Asked Questions</h2>
        <br>
        <h2>Why did DISH acquire BLOCKBUSTER if it closed its stores and By Mail service?</h2>
        <h3>DISH Network acquired the assets of BLOCKBUSTER in April 2011 through a bankruptcy 
            auction. We recognized that the entertainment landscape was changing, and we believe
            that Blockbuster will continue to evolve its online delivery. As such, the 
            BLOCKBUSTER@Home and BLOCKBUSTER On Demand services are available today. 
            These two products provide virtually all the services former members 
            received through BLOCKBUSTER retail stores and By Mail service.</h3>
         <br>
        <h2>Are BLOCKBUSTER Stores remaining open?</h2>
        <h3>BLOCKBUSTER corporate store locations closed on January 12, 2014 however 
            approximately 50 franchise BLOCKBUSTER store locations remain open.</h3>
         <br>
        <h2>Why has Blockbuster discontinued the DVD By Mail service?</h2>
        <h3>While this was a difficult decision, we recognized that consumer 
            demand has moved away from the disc rental business to video-on-demand 
            and the digital distribution of video entertainment. 
            Last year DISH Network introduced BLOCKBUSTER@Home which 
            we believe is the most comprehensive movie service available 
            including 15 movie channels, new releases on demand, over 20,000 
            movies and TV shows available on line and streamed to your devices.</h3>
         <br>
        <h2>Is BLOCKBUSTER going completely out of business?</h2>
        <h3>No. BLOCKBSTER has phased out of the physical retail and rental business. 
            The BLOCKBUSTER@Home and BLOCKBUSTER On Demand services will remain available
            to customers. These two products provide virtually all services previously 
            received through BLOCKBUSTER retail stores and by mail. </h3>

        </div>
{%endblock%}